.container {
  min-height: 92vh;
  display: flex;
  justify-content: center;
}

.container-contacts {
  width: 900px;
}

.contacts-list {
  list-style-type: none;
}

.contact-list-header {
  display: grid;
  grid-template-columns: 300px 230px 370px;
  border-bottom: 1px solid #E0E0E0;
  padding: 7px 0px;
}

.contact {
  display: grid;
  grid-template-columns: 300px 230px 370px;
  border-bottom: 1px solid #E0E0E0;
  padding: 7px 0px;
}

.contact-name {
  font-size: 16px;
}

.contact-number {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.container-search {
  width: 500px;
  margin: 0px 0px 10px;
}